@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500&family=Dancing+Script:wght@400;600&family=Josefin+Sans:wght@200;300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --primary: rgb(104, 99, 233);
  --secondary: rgb(146, 143, 227);
  --secondary-alt: rgb(56, 50, 219);
  --white: #cbc9d2;
  --black: #050404;
}